# A Git Ignore File for The Cluster Dynamics Project

figures/
**/Data/
simulations/NSLE_Mage/
# simulations/*/
*.zip
*.tar.gz
*.tar
*.gz
*.mp4
*.7z
*.png
*.ai
!MSThesisFigures/NPDPSchema.png
!MSThesisFigures/TCPSchema.png
!MSThesisFigures/DensityTable.png
*.gif
*.csv
*.txt
